@import "../../global.scss";
.AppFeatures {
 background-color: #333333;
    color: whitesmoke;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
    @media (max-width: 768px) {
             
        height: 100px;
        
      }
      @media (max-width: 1024px) {
             
        height: 200px;
        
      }
      @media(min-device-width: 1024px) and(max-width: 1440px) {
             
        height: 100px;
        
      }
    
   
    .wrapper {
        padding: 8px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 768px) {
             
            display: flex;
            flex-direction:column;
            
          }
          @media (max-width: 1024px) {
             
            display: flex;
            flex-direction:column;
            
          }
        .left {
            
            @media(min-device-width: 1024px) and(max-width: 1440px) {
             
                padding-right: 20px;
                
              }
            .logo1 {
               
                &:hover{
                     
                    color: orange;
                }
                color : white;
                 font-family: 'Helvetica Neue', sans-serif; 
                 letter-spacing: 2px;
                 
                   
                font-size: 45px;
                font-weight: 500;
               
               
            }
        }

        .right {
            @media (max-width: 768px) {
             
               display: none;
                }
            

            .logo {
               
                &:hover{
       
                    color: orange;
                }
                font-size: 30px;
                margin-right: 10px;
                margin-left: 15px;
                width: 100%;
                height: 3px;
                cursor: pointer;
            }
        }
    }
}
.log{
    @media (max-width: 768px) {
             
        font-size: 10vw;
         
       } 
       @media (max-width: 992px) {
             
        font-size: 5vw;
         
       } 
       @media(min-device-width: 1024px) and(max-width: 1440px) {
             
        font-size: 3vw;
        
      }
   font-size: 1.4vw;
   padding:0 20px;
}
.fab{
    @media (max-width: 768px) {
             
        margin-top: 20px;
         
       } 
       @media (max-width: 992px) {
             
        margin-top: 20px;
         
       } 
    color : white;
    &:hover{
       
        color: orange;
    }
}
