.screen {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    font-size: 45px;
    font-family: "Marvel";
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    background-color: #cecece;
    margin-bottom: 20px;
    padding-right: 10px;
  }