.containerrr{
    background-color: #282c34;
    margin-top:100px;
    height:100;
    color : white;
    display: flex;
    flex-direction: column;
   
    
}
.contt{
    display: flex;
    flex-direction: column;
    height:130px;
    
}